div#menu-indicator-count,
div#ct-menu-search-count {
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}
  
.indicator-actions-icon {
  width: 24px;
  height: 24px;
}
#ct-menu .views-exposed-form .form-row>fieldset, #ct-menu .views-exposed-form .form-row>div {
    padding-right: 0px;
    padding-left: 0px;
}
  
#ct-menu .views-exposed-form button{
    width: 100%;
}

.card.indicator-search-card:hover {
  background: #181a1b !important;
  cursor: pointer;
}
div#menu-indicator-search-cards {
  box-shadow: 0px 0px 38px 20px rgb(0 0 0 / 67%), 0 15px 12px rgb(0 0 0 / 22%);
  pointer-events: all;
  max-height: 70vh;
  overflow: auto;
}
div#menu-indicator-search-cards-wrapper {
  max-height: 80vh;
  position: fixed;
  pointer-events: none;
  display: none;
  z-index: 20;
}

div#ct-indicator-cards-view {
  height: inherit;
  overflow-y: scroll;
}

#views-exposed-form-conservation-tracking-menu-search-block{
  display: none;
}

#menu-indicator-cards {
  overflow-y: auto;
  overflow-x: hidden;
  height: -webkit-fill-available;
}

.card {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  border: 1px solid rgb(47 52 56 / 0%)!important;
}

.card-title {
  font-size: 1.2em;
  font-weight: 100;
}

.menu-open-indicator {
    font-size: 40px !important;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    width: 70px;
    height: 70px;
}

.button-is-loading-indicator .menu-open-indicator{
  opacity: 0.5;
  pointer-events: none;
}

.fac-result {
  padding-left: 18px;
  padding-right: 18px;
}