 {#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{{ attach_library( 'biopama_conservation_tracking/indicator-card' ) }}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{% set nodeid = node.id %}
{% if (content.field_indi_data_global|length > 3) or (content.field_indi_geonode_global.0|render == 'On') %}
	{% set global_data = true %}
{% else %}
	{% set global_data = false %}
{% endif %}
{% if (content.field_indi_data_regional|length > 3) or (content.field_indi_geonode_regional.0|render == 'On') %}
	{% set regional_data = true %}
{% else %}
	{% set regional_data = false %}
{% endif %}
{% if (content.field_indi_data_national|length > 3) or (content.field_indi_geonode_country.0|render == 'On') %}
	{% set national_data = true %}
{% else %}
	{% set nationaldata = false %}

{% endif %}
{% if (content.field_indi_data_local|length > 3) or (content.field_indi_geonode_pa.0|render == 'On') %}
	{% set local_data = true %}
{% else %}
	{% set local_data = false %}
{% endif %}
<div class="card rounded-0 text-bg-dark">
	<div class='container-fluid indicator-content-wrapper'>
		<div class='row'>
			<button type="button" class="btn-close btn-close-white position-absolute m-1" aria-label="Close" onclick='closeIndicatorCard()'></button>
			<div class="indicator-title p-4 m-0">
				{{ label }}
				<span class="indicator-for"> for</span> 
				<span class="indicator-country">Country Name</span>
			</div>
		</div>
		<div class="edit-menu-trigger">
			<div style="display: none;">{{ drupal_view('edit_indicator_card_link', 'block_1', nodeid) }}</div>
			{% if is_admin %}
			<div class="edit-indi-menu">
				<input type="checkbox" id="edit-indi-toggle" />
				<label id="show-menu" for="edit-indi-toggle">
				<div class="indi-menu-btn">
					<i class="fas fa-bars menuBtn md-36"></i>
					<i class="fa-solid fa-xmark closeBtn md-36"></i>
				</div>
				<div class="indi-menu-btn">
					<a href="/node/{{ nodeid }}/edit/data_glo" class="edit-global-data indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><img class="indi-edit-icon" src="/themes/custom/biopama/img/icons/global.png"></a>
				</div>
				<div class="indi-menu-btn">
					<a href="/node/{{ nodeid }}/edit/data_regional" class="edit-regional-data indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><img class="indi-edit-icon" src="/themes/custom/biopama/img/icons/region.png"></a>
				</div>
				<div class="indi-menu-btn">
					<a href="/node/{{ nodeid }}/edit/data_country" class="edit-country-data indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><img class="indi-edit-icon" src="/themes/custom/biopama/img/icons/country.png"></a>
				</div>
				<div class="indi-menu-btn">
					<a href="/node/{{ nodeid }}/edit/data_local" class="edit-local-data indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><img class="indi-edit-icon" src="/themes/custom/biopama/img/icons/local.png"></a>
				</div>
				<div class="indi-menu-btn">
					<a href="/node/{{ nodeid }}/edit" class="edit-indicator indicator-card-edit-link use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}"><i class="fas fa-wrench"></i></a>
				</div>
				</label>
			</div>
			{% endif %}
		</div>
		<div id="indicator-card-tabs" class="row bs-light-text indicator-scope-tabs">
		  <ul class="indicator-card-tabs list-group list-group-horizontal text-center fs-6 p-0">
				{% if global_data %}
					<li class="indi-tab indi-tab-global list-group-item list-group-item-action list-group-item border-0" data-bs-toggle="collapse" data-bs-target="#tabs-1" aria-expanded="false" aria-controls="tabs-1"><div data-bs-toggle="tooltip" title="Display global data"><i class="fa-solid fa-earth-americas"></i><div class='hidden'>Global</div></div></li>
				{% endif %}
				{% if regional_data %}
					<li class="indi-tab indi-tab-regional list-group-item list-group-item-action list-group-item border-0" data-bs-toggle="collapse" data-bs-target="#tabs-2" aria-expanded="false" aria-controls="tabs-2"><div data-bs-toggle="tooltip" title="Display regional data"><i class="fa-solid fa-earth-oceania"></i><div class='hidden'>Regional</div></div></li>
				{% endif %}
				{% if national_data %}
					<li class="indi-tab indi-tab-national list-group-item list-group-item-action list-group-item border-0" data-bs-toggle="collapse" data-bs-target="#tabs-3" aria-expanded="false" aria-controls="tabs-3"><div data-bs-toggle="tooltip" title="Display national data"><i class="fa-regular fa-flag"></i><div class='hidden'>National</div></div></li>
				{% endif %}
				{% if local_data %}
					<li class="indi-tab indi-tab-local list-group-item list-group-item-action list-group-item border-0" data-bs-toggle="collapse" data-bs-target="#tabs-4" aria-expanded="false" aria-controls="tabs-4"><div data-bs-toggle="tooltip" title="Display local data"><i class="fa-solid fa-location-dot"></i><div class='hidden'>Local</div></div></li>
				{% endif %}
		  </ul>
		  {% if global_data %}
		  <div id="tabs-1" class="w-100 collapse" data-bs-parent="#indicator-card-tabs">
			<div class='rest-error rest-error-global'></div>
			<div id='indicator-chart-global' class='indicator-chart'></div> 
		  </div>
		  {% endif %}
		  {% if regional_data %}
		  <div id="tabs-2" class="w-100 collapse" data-bs-parent="#indicator-card-tabs">
			<div class='rest-error rest-error-regional'></div>
			<div id='indicator-chart-regional' class='indicator-chart'></div> 
		  </div>
		  {% endif %}
		  {% if national_data %}
		  <div id="tabs-3" class="w-100 collapse" data-bs-parent="#indicator-card-tabs">
			<div class='rest-error rest-error-national'></div>
			<div id='indicator-chart-national' class='indicator-chart'></div> 
		  </div>
		  {% endif %}
		  {% if local_data %}
		  <div id="tabs-4" class="w-100 collapse" data-bs-parent="#indicator-card-tabs">
			<div class='rest-error rest-error-local'></div>
			<div id='indicator-chart-local' class='indicator-chart'></div> 
		  </div>
		  {% endif %}
		</div>
		<div id='map-legend' class='row p-3'>
			<div id='custom-map-legend'  class='d-flex flex-row  w-100'>
				<div style='display: none !important;' id='custom-map-legend-nan' class='legend-nan flex-column'>
					<div class='legend-color' style='background: repeating-linear-gradient(315deg,#DC143C,#DC143C 4px,#ccc 4px,#ccc 8px); height:20px;'></div>
					<div class='legend-text'>&nbsp;NaN = No Data</div>
				</div>
			</div>
			<div id='wms-map-legend' ></div>
		</div>
		<div class='row px-3 indicator-source'>{{content.field_source}}</div>
	</div> 
	<div class='indicator-hidden-content hidden'>
		{{content.field_indi_get_data_from}}
		{{content.field_indi_geonode_layer}}
		{{content.field_indi_geonode_global}}
		{{content.field_indi_geonode_regional}}
		{{content.field_indi_geonode_country}}
		{{content.field_indi_geonode_pa}}
		{{content.field_indi_data_global}}
		{{content.field_indi_data_regional}}
		{{content.field_indi_data_national}}
		{{content.field_indi_data_local}}
		{{content.field_indi_map_layers_all}}
		{{content.field_indicator_make_map_points}}
		{{content.field_countries}}
		{{content.field_indicator_or_ranking}}
	</div>
</div>
<div id='color-swatch-wrapper' class='collapse'>
	<H5>Diverging</H5>
	<div id="ramps-diverging">
	</div>	
	<H5>Sequential</H5>
	<div id="ramps-sequential">
	</div>
</div>
