 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}

<div class="card indicator-search-card rounded-0 m-0 text-bg-dark">
	<div class="card-body">
		<div class="row search-indicator-text">
			<div class="col-sm-12 search-text">
	  			<h5 class="card-title">{{ fields.title.content }}</h5>
			</div>
		</div>
		{% if fields.title_1.content is not empty %}
			<div class="row p-0 search-policy-trigger">
				<div class="col-sm-2 d-flex">
						Policy
				</div>
				<div class="col-sm-10 d-flex search-text search-policy-text">
						{{ fields.title_2.content }}
				</div>
			</div>
			<div class="row p-0 search-target-trigger">
				<div class="col-sm-2 d-flex">
						Target
				</div>
				<div class="col-sm-10 d-flex search-text search-target-text">
						{{ fields.title_1.content }}
				</div>
			</div>
		{% endif %}	
		<hr>
		<div class="hidden">
			<div class="indicator-nid">
				{{ fields.nid.content }}
			</div>
		</div>
	</div>
</div>