{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'd-flex',
    'flex-column',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="row m-0 p-3">
    <div id="ct-menu-search-filter" class="view-filters w-100">
      {{ exposed }}
    </div>
    <div id="ct-menu-search-count" class="">
      {{ footer }}
    </div>
  </div>
  <div id="menu-indicator-search-cards-wrapper" class="row m-0 w-100">
    <div class="container-fluid">
      <div class="row m-0">
        <div class="col col-lg-4 p-0">
        </div>
        <div class="col col-lg-8 p-0">
          {% if rows %}
            <div id="menu-indicator-search-cards" class="view-content row m-5">
              {{ rows }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
