div#block-indicatorcard {
  position: absolute;
  right: 3em;
  top: 20%;
  max-height: 70%;
  overflow-y: auto;
}

li.disable-scope, li.disable-scope a {
    pointer-events: none;
    color: #ccc !important;
}
li.temp-disable-scope, li.temp-disable-scope a {
    pointer-events: none;
    color: #888 !important;
}

.indicator-image {
     min-height: 200px;
}

#indicator-chart{
	height:250px;
	width:100%;
}

.edit-menu-trigger {
	display: none;
  position: fixed;
  top: 25%;
  z-index: 100;
  right: 31%;
}

.edit-menu-trigger.menu-tip:hover {
    left: calc(16.8em + 80px);
    height: 50px;
    width: 50px;
    font-size: 32px;
}
.indicator-edit-links-wrapper .views-field.views-field-edit-node{
	    margin-top: 0px; 
}
.indicator-edit-link {
	min-height: 40px;
	padding: 5px;
}


div#fancy_login_close_button {
    width: 25px;
    height: 25px;
    background: #90c14f;
}
.source-wrapper {
  font-size: 12px;
}

img.indi-edit-icon {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: #fff !important;
    border: 2px solid #8fc04f;
    height: 70px;
    width: 70px;
    display: -webkit-inline-box;
    line-height: 0px;
    border-radius: 50px;
}

.edit-indi-menu {
  margin: 0 auto;
  position: relative;
  left: 10px;
}

input#edit-indi-toggle {position: absolute; display: none}

.indi-menu-btn {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: absolute;
  overflow: visible;
  cursor: pointer;
}

.md-36 { font-size: 36px; color: #89bd54; }

.indi-menu-btn {
  background: #ECEFF1;
  font-size: 36px; 
  color: #89bd54;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
a.indicator-card-edit-link.edit-indicator {
  font-size: 36px;
  color: #89bd54;
  width: 70px;
  height: 70px;
  border: 2px solid;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  text-decoration: none;
  background: #fff;
}

.indi-menu-btn:not(:first-child) {
  opacity: 0;
  z-index: -2;
  
  -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.indi-menu-btn:nth-child(2) {top:0px;-webkit-transition-delay: 0s;transition-delay: 0s}
.indi-menu-btn:nth-child(3) {top:0px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.indi-menu-btn:nth-child(4) {left:0px;;-webkit-transition-delay: 0.2s;;transition-delay: 0.2s}
.indi-menu-btn:nth-child(5) {top:0px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.indi-menu-btn:nth-child(6) {top:0px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}
.indi-menu-btn:nth-child(7) {top:0px;left:0px;-webkit-transition-delay: 0.5s;transition-delay: 0.5s}
.indi-menu-btn:nth-child(8) {left:0px;-webkit-transition-delay: 0.6s;transition-delay: 0.6s}
.indi-menu-btn:nth-child(9) {top:0px;left:0px;-webkit-transition-delay: 0.7s;transition-delay: 0.7s}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(2) {
  top:-150px;opacity:1;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(3) {
  top:-100px;left:100px;opacity:1;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(4) {
  left:150px;opacity:1;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(5) {
  top :100px;left:100px;opacity:1;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(6) {
  top:150px;opacity:1;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(7) {
  top:100px;left:-100px;opacity:1;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(8) {
  left:-150px;opacity:1;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(9) {
  top:-100px;left:-100px;opacity:1;
}

.menuBtn, .closeBtn {
  position: absolute;
  transition: all 0.3s ease;
}

.closeBtn {
  transform: translateY(50px);
  opacity: 0;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn .menuBtn {
  transform: translateY(-50px);
  opacity: 0;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn .closeBtn {
  transform: translateY(0px);
  opacity: 1;
}

label#show-menu {
    margin-bottom: 24px;
}

div#custom-map-legend {
    display: flex;
    flex-direction: column-reverse;
}
div#ramps-diverging, div#ramps-sequential {
    display: flex;
}
.ramp {
    padding: 5px;
}
.ramp.selected {
    background-color: #fff;
}

.ramp.selected.card-selected-color {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    margin-top: 0%;
    width: 30px;
}
div#color-selected-wrapper {
    cursor: pointer;
    overflow: auto;
}
div#active-color-selected {
    height: 30px;
    width: 140px;
}
div#color-swatch-wrapper {
  position: fixed;
  right: 25%;
  bottom: 10%;
  background: #ffffff80;
  padding: 20px;
}

.legend-unit,
.legend-nan {
  flex-grow: 1;
  flex-basis: 0;
}

.legend-text {
  font-size: 0.8em;
}

.indicator-title {
  font-size: 20px;
}

.noUi-vertical .noUi-handle {
  height: 6px;
  top: -3px;
  width: 22px;
  cursor: row-resize;
  border: none;
  border-radius: 0px;
}

#slider-color {
  height: 180px;
  top: -340px;
  margin-bottom: -180px;
  left: -5px;
}

.noUi-target {
  border: 0px;
  box-shadow: unset;
}

.noUi-handle:after, .noUi-handle:before {
  content: none;
}

.noUi-vertical{
  width: 10px;
}

.noUi-connects {
  border-radius: 0px;
}
select#stop-points {
  width: 50px;
}