.mapboxgl-ctrl-group > button {
    opacity: 0.7;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: flex;
}
.mapboxgl-ctrl-z-global{
	background-image: url("/themes/custom/biopama/img/zoom_icon_global.png");	
}
.mapboxgl-ctrl-z-region{
	background-image: url("/themes/custom/biopama/img/zoom_icon_region.png");	
}
.mapboxgl-ctrl-z-country{
	background-image: url("/themes/custom/biopama/img/zoom_icon_country.png");	
}
.mapboxgl-ctrl-z-pa{
	background-image: url("/themes/custom/biopama/img/zoom_icon_pa.png");	
}
.country-chart{
	font-weight: bold;
}

.country-chart-inner{
	height: 80px;
	margin-left: -20px;
}

div#country-map {
    width: 50%;
    height: 300px;
}

.country-map-container {
    display: flex;
}

.country-name,
.country-ql-heading {
    font-size: 30px;
    /* padding: 30px 0px; */
    color: #90c14f;
    font-weight: bold;
    font-variant: small-caps;
}

.country-iso,
.country-ql {
    color: #679b95;
    font-variant: small-caps;
    padding: 5px 0px;
}
.country-ql {
    padding: 10px 0px;
}

.country-region {
    color: #679b95;
    font-weight: bold;
}

.country-info {
    padding: 20px;
}

.marker {
  background: #FF9800;
  border: 1px solid #ac2925;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.pop-pa-wrapper {
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, margin-top 0ms;
}
.pop-pa-wrapper:hover {
    background: #eee;
    cursor: pointer;
}
main.main-content div.alert.alert-dismissible {
    width: 50%;
    margin-left: 25%;
}

.popover-title {
  text-align: center;
  color: #7aa7a3;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
.pop-pa-iucn {
    color: #679b95;
    font-size: 12px;
}
.field--type-entity-reference {
    display: flex;
    margin: 0px !important;
}

.pop-pa-name {
    color: #8fbf4b;
    font-size: 16px;
}

.pop-country {
    font-size: 24px;
    color: #679b95;
}

span.pa-link {
    color: #ff851e;
    text-decoration:  underline;
    cursor:  pointer;
}
span.pa-link:hover {
    color: #ff851e99;
}

#cboxContent .container,
#cboxContent img {
  width: 100%;
}

#cboxContent .tb-megamenu.style-biopama {
  display: none;
}

.tb-megamenu.style-biopama {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 59.8px 5.2px rgba(17, 133, 171, 0.15);
}

div#quicktabs-tabpage-map_page_breadcrumbs-0,
div#quicktabs-tabpage-map_page_breadcrumbs-1,
div#quicktabs-tabpage-map_page_breadcrumbs-2 {
  padding-top: 0px;
  height: 100%;
  min-height: 2000px;
  width: 90%;
  left: 5%;
}

.quicktabs-tabpage {
  z-index: 3;
  background: white;
  position: relative;
}

.select-country {
  position: fixed;
  top: 20%;
  width: 30%;
  left: 35%;
  text-align: center;
  opacity: 1;
  box-shadow: 0px 2px 59.8px 5.2px rgba(17, 133, 171, 0.15)
}

.panels-flexible-region-fluid_100_single_column-center {
  width: 100% !important;
}

.info.indicator-info {
  right: 3px;
  background: white;
  line-height: 0px;
  font-size: 20px;
  position: relative;
  float: right;
  top: -20px;
  color: #3d6597;
}

.overlay-element {
  z-index: 10001 !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-chart-3D {
  background-image: url(/images/3d-bar-chart-icon-69534_sm.png);
  background-size: 29px 28px;
  background-repeat: no-repeat;
  background-position: center;
}

button.mapboxgl-ctrl-icon {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
}

.active-3D {
  background-color: #c5c5c5 !important;
}

.mapboxgl-ctrl-icon.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

div#jQueryAddress>div {
  padding: 0px !important;
}

.flex-control-nav {
  z-index: 2;
}

.mapboxgl-ctrl.map-country-pa-info-wrapper {
  background: white;
  opacity: 0.8;
  padding: 20px;
  border-radius: 10px;
}

span.indicator-title {
  position: relative;
  padding: 8px;
}

table.indicator-wrapper>tbody>tr>th {
  text-align: left;
  display: flex;
  flex-direction: row;
  /* justify-content: stretch; */
  /* padding-top: 10px; */
  flex: 1;
}

td.indicator-description-wrapper {
  height: 200px;
  vertical-align: top;
}


.tabs.indicator-tabs {
  float: right;
  position: relative;
  z-index: 1000;
}

#modalContent {
  z-index: 10001 !important;
}

.indicator-card-title {
  max-width: 100%;
  position: absolute;
  font-size: 22px;
  color: white;
  line-height: 30px;
  top: 90px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 100%;
}

div.indicator-wrapper {
  overflow: unset !important;
  position: fixed;
  z-index: 10001;
  display: initial;
    left: 5%;
    top: 20%;
    width: 30%;
    min-height: 75%;
  background: white;
}

.indicator-wrapper>img {
  width: 100%;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}
div#block-indicatorcard {
    display: none;
}

button.btn.btn-primary.indicator-button {
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.mapboxgl-ctrl-close {
  background: #999 !important;
}

div.indicator-chart {
  width: 100%;
  height: 300px;
}

iframe#iframe-container {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  border: 0;
  float: left;
  position: fixed;
  left: 5000px;
  background: white;
  bottom: 0;
  z-index: 505;
}

button#close-id-editor {
  display: none;
  position: fixed;
  top: 150px;
  right: 150px;
  z-index: 510;
}

.pop-wrapper .card{
	margin-top:5px!important;
}

.pop-wrapper .card-body{
	padding: 5px!important;
	display: flex;
}
.pop-wrapper {
    min-width: 200px;
}
.pop-wrapper .form-control{
    margin: 0px;
	height: 16px;
    align-self: center;
	pointer-events: none;
}
.pop-wrapper .pa-select{
	text-align: right;
    align-self: center;
}